/* styles.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('pink.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #e6b0aa;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 98%;
    overflow: auto;
}

.logo a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.navigation ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.navigation a {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
}

.user-options a {
    text-decoration: none;
    color: #333;
    margin-left: 15px;
    font-size: 1rem;
}


@media (max-width: 768px) {
    .navigation ul {
        flex-direction: column;
        display: block;
    }

    .navigation.active ul {
        display: flex;
    }

    .header {
        flex-wrap: wrap;
    }
}

    /* Main Content Section */
    .content {
      margin-top: 40px;
      padding: 20px;
      text-align: center;
      background: #f4f4f4;
      min-height: calc(100vh - 180px); /* Adjust height excluding header & footer */
    }

    .content h1 {
      margin-top: 0;
    }
.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0a290e;
  color: #f4e8db;
  text-decoration: none;
  border-radius: 5px;
}

.small-image {
    width: 200px;
    height: auto;
}


/* Footer Styles */
.footer {
      background-color: #333;
      color: white;
      text-align: center;
      padding: 10px 20px;
      position: relative;
      bottom: 0;
      width: 100%;
    }

.footer a {
      color: #4CAF50;
      text-decoration: none;
    }

.footer a:hover {
      text-decoration: underline;
    }
